/*
* @Author: yanfei
* @Date:   2017-09-13 13:59:31
* @Last Modified by:   yanfei
* @Last Modified time: 2017-09-15 16:23:58
*/
.flg{
	width:2vw;
	height:0.8vw;
	display:block;
	float: left;
	background-size:auto 0.8vw;
	margin:0.25vw 0.25vw 0 0;
	background-repeat: no-repeat;
}

.flg-CN,.flg-TW,.flg-HK,.flg-MO{
	background-image: url(../image/flag/CN.png);
}


.flg-AD{background-image: url(../image/flag/AD.png);}
.flg-AF{background-image: url(../image/flag/AF.png);}
.flg-AG{background-image: url(../image/flag/AG.png);}
.flg-AL{background-image: url(../image/flag/AL.png);}
.flg-AM{background-image: url(../image/flag/AM.png);}
.flg-AO{background-image: url(../image/flag/AO.png);}
.flg-AR{background-image: url(../image/flag/AR.png);}
.flg-AS{background-image: url(../image/flag/AS.png);}
.flg-AT{background-image: url(../image/flag/AT.png);}
.flg-AU{background-image: url(../image/flag/AU.png);}
.flg-AZ{background-image: url(../image/flag/AZ.png);}
.flg-BA{background-image: url(../image/flag/BA.png);}
.flg-BB{background-image: url(../image/flag/BB.png);}
.flg-BD{background-image: url(../image/flag/BD.png);}
.flg-BE{background-image: url(../image/flag/BE.png);}
.flg-BF{background-image: url(../image/flag/BF.png);}
.flg-BG{background-image: url(../image/flag/BG.png);}
.flg-BH{background-image: url(../image/flag/BH.png);}
.flg-BI{background-image: url(../image/flag/BI.png);}
.flg-BJ{background-image: url(../image/flag/BJ.png);}
.flg-BO{background-image: url(../image/flag/BO.png);}
.flg-BR{background-image: url(../image/flag/BR.png);}
.flg-BS{background-image: url(../image/flag/BS.png);}
.flg-BT{background-image: url(../image/flag/BT.png);}
.flg-BW{background-image: url(../image/flag/BW.png);}
.flg-BY{background-image: url(../image/flag/BY.png);}
.flg-BZ{background-image: url(../image/flag/BZ.png);}
.flg-CA{background-image: url(../image/flag/CA.png);}
.flg-CD{background-image: url(../image/flag/CD.png);}
.flg-CF{background-image: url(../image/flag/CF.png);}
.flg-CG{background-image: url(../image/flag/CG.png);}
.flg-CH{background-image: url(../image/flag/CH.png);}
.flg-CI{background-image: url(../image/flag/CI.png);}
.flg-CK{background-image: url(../image/flag/CK.png);}
.flg-CL{background-image: url(../image/flag/CL.png);}
.flg-CM{background-image: url(../image/flag/CM.png);}
.flg-CN{background-image: url(../image/flag/CN.png);}
.flg-CO{background-image: url(../image/flag/CO.png);}
.flg-CR{background-image: url(../image/flag/CR.png);}
.flg-CU{background-image: url(../image/flag/CU.png);}
.flg-CV{background-image: url(../image/flag/CV.png);}
.flg-CY{background-image: url(../image/flag/CY.png);}
.flg-CZ{background-image: url(../image/flag/CZ.png);}
.flg-DE{background-image: url(../image/flag/DE.png);}
.flg-DJ{background-image: url(../image/flag/DJ.png);}
.flg-DK{background-image: url(../image/flag/DK.png);}
.flg-DM{background-image: url(../image/flag/DM.png);}
.flg-DO{background-image: url(../image/flag/DO.png);}
.flg-DZ{background-image: url(../image/flag/DZ.png);}
.flg-EC{background-image: url(../image/flag/EC.png);}
.flg-EE{background-image: url(../image/flag/EE.png);}
.flg-EG{background-image: url(../image/flag/EG.png);}
.flg-EH{background-image: url(../image/flag/EH.png);}
.flg-ER{background-image: url(../image/flag/ER.png);}
.flg-ES{background-image: url(../image/flag/ES.png);}
.flg-ET{background-image: url(../image/flag/ET.png);}
.flg-EU{background-image: url(../image/flag/EU.png);}
.flg-FI{background-image: url(../image/flag/FI.png);}
.flg-FJ{background-image: url(../image/flag/FJ.png);}
.flg-FM{background-image: url(../image/flag/FM.png);}
.flg-FO{background-image: url(../image/flag/FO.png);}
.flg-FR{background-image: url(../image/flag/FR.png);}
.flg-GA{background-image: url(../image/flag/GA.png);}
.flg-GB{background-image: url(../image/flag/GB.png);}
.flg-GD{background-image: url(../image/flag/GD.png);}
.flg-GE{background-image: url(../image/flag/GE.png);}
.flg-GH{background-image: url(../image/flag/GH.png);}
.flg-GI{background-image: url(../image/flag/GI.png);}
.flg-GL{background-image: url(../image/flag/GL.png);}
.flg-GM{background-image: url(../image/flag/GM.png);}
.flg-GN{background-image: url(../image/flag/GN.png);}
.flg-GQ{background-image: url(../image/flag/GQ.png);}
.flg-GR{background-image: url(../image/flag/GR.png);}
.flg-GT{background-image: url(../image/flag/GT.png);}
.flg-GW{background-image: url(../image/flag/GW.png);}
.flg-GY{background-image: url(../image/flag/GY.png);}
.flg-HN{background-image: url(../image/flag/HN.png);}
.flg-HR{background-image: url(../image/flag/HR.png);}
.flg-HT{background-image: url(../image/flag/HT.png);}
.flg-HU{background-image: url(../image/flag/HU.png);}
.flg-ICRC{background-image: url(../image/flag/ICRC.png);}
.flg-ID{background-image: url(../image/flag/ID.png);}
.flg-IE{background-image: url(../image/flag/IE.png);}
.flg-IL{background-image: url(../image/flag/IL.png);}
.flg-IN{background-image: url(../image/flag/IN.png);}
.flg-IO{background-image: url(../image/flag/IO.png);}
.flg-IQ{background-image: url(../image/flag/IQ.png);}
.flg-IR{background-image: url(../image/flag/IR.png);}
.flg-IS{background-image: url(../image/flag/IS.png);}
.flg-IT{background-image: url(../image/flag/IT.png);}
.flg-JM{background-image: url(../image/flag/JM.png);}
.flg-JO{background-image: url(../image/flag/JO.png);}
.flg-JP{background-image: url(../image/flag/JP.png);}
.flg-KE{background-image: url(../image/flag/KE.png);}
.flg-KG{background-image: url(../image/flag/KG.png);}
.flg-KH{background-image: url(../image/flag/KH.png);}
.flg-KI{background-image: url(../image/flag/KI.png);}
.flg-KM{background-image: url(../image/flag/KM.png);}
.flg-KN{background-image: url(../image/flag/KN.png);}
.flg-KP{background-image: url(../image/flag/KP.png);}
.flg-KR{background-image: url(../image/flag/KR.png);}
.flg-KW{background-image: url(../image/flag/KW.png);}
.flg-KZ{background-image: url(../image/flag/KZ.png);}
.flg-LA{background-image: url(../image/flag/LA.png);}
.flg-LB{background-image: url(../image/flag/LB.png);}
.flg-LC{background-image: url(../image/flag/LC.png);}
.flg-LI{background-image: url(../image/flag/LI.png);}
.flg-LK{background-image: url(../image/flag/LK.png);}
.flg-LR{background-image: url(../image/flag/LR.png);}
.flg-LS{background-image: url(../image/flag/LS.png);}
.flg-LT{background-image: url(../image/flag/LT.png);}
.flg-LU{background-image: url(../image/flag/LU.png);}
.flg-LV{background-image: url(../image/flag/LV.png);}
.flg-LY{background-image: url(../image/flag/LY.png);}
.flg-MA{background-image: url(../image/flag/MA.png);}
.flg-MC{background-image: url(../image/flag/MC.png);}
.flg-MD{background-image: url(../image/flag/MD.png);}
.flg-ME{background-image: url(../image/flag/ME.png);}
.flg-MG{background-image: url(../image/flag/MG.png);}
.flg-MH{background-image: url(../image/flag/MH.png);}
.flg-MK{background-image: url(../image/flag/MK.png);}
.flg-ML{background-image: url(../image/flag/ML.png);}
.flg-MM{background-image: url(../image/flag/MM.png);}
.flg-MN{background-image: url(../image/flag/MN.png);}
.flg-MR{background-image: url(../image/flag/MR.png);}
.flg-MT{background-image: url(../image/flag/MT.png);}
.flg-MU{background-image: url(../image/flag/MU.png);}
.flg-MV{background-image: url(../image/flag/MV.png);}
.flg-MX{background-image: url(../image/flag/MX.png);}
.flg-MY{background-image: url(../image/flag/MY.png);}
.flg-MZ{background-image: url(../image/flag/MZ.png);}
.flg-NA{background-image: url(../image/flag/NA.png);}
.flg-NE{background-image: url(../image/flag/NE.png);}
.flg-NG{background-image: url(../image/flag/NG.png);}
.flg-NI{background-image: url(../image/flag/NI.png);}
.flg-NL{background-image: url(../image/flag/NL.png);}
.flg-NO{background-image: url(../image/flag/NO.png);}
.flg-NP{background-image: url(../image/flag/NP.png);}
.flg-NR{background-image: url(../image/flag/NR.png);}
.flg-NU{background-image: url(../image/flag/NU.png);}
.flg-NZ{background-image: url(../image/flag/NZ.png);}
.flg-OM{background-image: url(../image/flag/OM.png);}
.flg-PA{background-image: url(../image/flag/PA.png);}
.flg-PE{background-image: url(../image/flag/PE.png);}
.flg-PF{background-image: url(../image/flag/PF.png);}
.flg-PG{background-image: url(../image/flag/PG.png);}
.flg-PH{background-image: url(../image/flag/PH.png);}
.flg-PK{background-image: url(../image/flag/PK.png);}
.flg-PL{background-image: url(../image/flag/PL.png);}
.flg-PR{background-image: url(../image/flag/PR.png);}
.flg-PS{background-image: url(../image/flag/PS.png);}
.flg-PT{background-image: url(../image/flag/PT.png);}
.flg-PW{background-image: url(../image/flag/PW.png);}
.flg-PY{background-image: url(../image/flag/PY.png);}
.flg-QA{background-image: url(../image/flag/QA.png);}
.flg-RO{background-image: url(../image/flag/RO.png);}
.flg-RS{background-image: url(../image/flag/RS.png);}
.flg-RU{background-image: url(../image/flag/RU.png);}
.flg-RW{background-image: url(../image/flag/RW.png);}
.flg-SA{background-image: url(../image/flag/SA.png);}
.flg-SB{background-image: url(../image/flag/SB.png);}
.flg-SC{background-image: url(../image/flag/SC.png);}
.flg-SD{background-image: url(../image/flag/SD.png);}
.flg-SE{background-image: url(../image/flag/SE.png);}
.flg-SG{background-image: url(../image/flag/SG.png);}
.flg-SI{background-image: url(../image/flag/SI.png);}
.flg-SK{background-image: url(../image/flag/SK.png);}
.flg-SL{background-image: url(../image/flag/SL.png);}
.flg-SM{background-image: url(../image/flag/SM.png);}
.flg-SN{background-image: url(../image/flag/SN.png);}
.flg-SO{background-image: url(../image/flag/SO.png);}
.flg-SR{background-image: url(../image/flag/SR.png);}
.flg-SS{background-image: url(../image/flag/SS.png);}
.flg-ST{background-image: url(../image/flag/ST.png);}
.flg-SV{background-image: url(../image/flag/SV.png);}
.flg-SY{background-image: url(../image/flag/SY.png);}
.flg-SZ{background-image: url(../image/flag/SZ.png);}
.flg-TD{background-image: url(../image/flag/TD.png);}
.flg-TG{background-image: url(../image/flag/TG.png);}
.flg-TH{background-image: url(../image/flag/TH.png);}
.flg-TJ{background-image: url(../image/flag/TJ.png);}
.flg-TL{background-image: url(../image/flag/TL.png);}
.flg-TM{background-image: url(../image/flag/TM.png);}
.flg-TN{background-image: url(../image/flag/TN.png);}
.flg-TO{background-image: url(../image/flag/TO.png);}
.flg-TR{background-image: url(../image/flag/TR.png);}
.flg-TT{background-image: url(../image/flag/TT.png);}
.flg-TZ{background-image: url(../image/flag/TZ.png);}
.flg-UA{background-image: url(../image/flag/UA.png);}
.flg-UG{background-image: url(../image/flag/UG.png);}
.flg-UN{background-image: url(../image/flag/UN.png);}
.flg-US{background-image: url(../image/flag/US.png);}
.flg-UY{background-image: url(../image/flag/UY.png);}
.flg-UZ{background-image: url(../image/flag/UZ.png);}
.flg-VA{background-image: url(../image/flag/VA.png);}
.flg-VC{background-image: url(../image/flag/VC.png);}
.flg-VE{background-image: url(../image/flag/VE.png);}
.flg-VN{background-image: url(../image/flag/VN.png);}
.flg-VU{background-image: url(../image/flag/VU.png);}
.flg-WS{background-image: url(../image/flag/WS.png);}
.flg-XK{background-image: url(../image/flag/XK.png);}
.flg-XOM{background-image: url(../image/flag/XOM.png);}
.flg-YE{background-image: url(../image/flag/YE.png);}
.flg-ZA{background-image: url(../image/flag/ZA.png);}
.flg-ZM{background-image: url(../image/flag/ZM.png);}
.flg-ZW{background-image: url(../image/flag/ZW.png);}
