html, body {
	width: 100%;
	height: 100%;
	color: white;
	font-size: 100%;
	font-family: Microsoft YaHei;
	overflow: hidden;
}
body{
	position:relative;
}
.logo{
	position:absolute; 
	top:28px; 
	left:1vw;
	z-index: 9999;
	width:73px;
	height: 49px;
}
table,tbody,tr,td{ 
	 border-collapse:collapse; 
	 border-spacing:0; 
	 margin:0;
	 padding:0;
} 
ul,li{
	list-style-type:none;
}
#mapid {
	width: 100%;
	height: 100%;
	background:#010412;
	position:relative;
}
a {
	color: white;
}
.star-bg{
	width:100%;
	height:100%;
	background:#000621 url(../image/bg6.png) no-repeat center center;
	position:absolute;
	z-index: 1;
	background-size: cover;
}
.title{
	width:100%;
	line-height:3vw;
	background:rgba(0,0,0,0.2);
	position:fixed;
	z-index:999999;
	text-align: center;
}
.title h1{
	display: inline-block;
	font-size:2vw;
	color:#05b6f7;
	font-weight: 400;
}
.show-header{
	width: 800px;
	height: 40px;
	margin: 80px auto 10px;
	display: block;
}

.show-header .show-header-left{
	width: 460px;
	height: 100%;
	float: left;
	font-family: Arial, sans-serif;
	font-size: 42px;
}

.show-header .show-header-right{
	box-sizing: border-box;
	width: 260px;
	height: 100%;
	float: right;
	text-align: right;
	font-family: Arial, sans-serif;
	font-size: 14px;
	padding: 10px 10px 2px 0px;
}


.show-info {
	box-sizing: border-box;
	width: 800px;
	margin: auto;
	padding: 5px 60px;
	display: block;
	font-size: 16px;
	font-family: Arial, "Microsoft Yahei", simsun;
	line-height: 24px;
}

.show-info h2 {
	font-family: Arial, "Microsoft Yahei", simhei, simsun;
	font-size: 20px;
	margin-top: 2.5em;
	margin-bottom: 0.5em;
	padding-left: 5px;
}


.show-footer {
	opacity: 0.13;
    position: fixed;
    height: 35%;
    width: 100%;
    background-color: #fff;
    left: 0;
    bottom: 0;
}
.float-footer{
	position:fixed;
	width:100%;
	bottom:0;
	left:0;
	overflow: hidden;
	z-index: 9999;
    text-overflow: ellipsis;
    padding:0.5vw 1vw 1vw 1vw;
    box-sizing: border-box;

}

a.link_studio {
	text-decoration: none;
	color: #85FF85;
}

a.link_studio:hover{
	text-decoration: underline;
}
.logo img{
	float:left;
}
.logo span{
	font-size:2.500rem;
	color:#fff;
	font-weight:700;
	display:inline-block;
	margin-top:13px;
}
.attack-source,.attack-target,.attack-type,.attack-event,.separated{
	position:relative;	
	float:left;
}
.attack-source{
	position:absolute;
	z-index: 99999999;
	width:17%;
	top:33%;
	left:1vw;
}
.attack-target,.attack-type{
	margin-left:1%;
}
.attack-target{
	width:22%;
	
}
.attack-source .attack-table>tbody>tr>td{
	line-height: 1.7vw;
}
.attack-source .attack-table{
	box-sizing:border-box;
	margin-top:10px;
}
.attackMes-title{
	border-bottom:1px solid #c4c5c8;
	height: 2.7vw;
	font-size:0.9vw;
	font-weight: 700;
	color:#05b6f7;
	padding-left:1vw;
	line-height: 2.7vw
}
.attack-event table{
	border-right:1px solid #242d36;
	border-bottom:1px solid #242d36;
}
.attack-table{
	width:100%;
	box-sizing:border-box;
}
.attack-table>tbody>tr>th{
	font-size:0.8vw;
	font-weight:500;
	text-align: left;
	color: #fff;
}
.attack-event .attack-table>tbody>tr>th, .attack-event .attack-table>tbody>tr>td{
	border-left:1px solid #242d36 ;
}
.attack-table>tbody>tr>th,.attack-table>tbody>tr>td{
	padding-left:0.5vw;
	height:1.75vw;
}
.attack-table>tbody>tr>td{
	text-align: left;
	font-size:0.7vw;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	max-width: 120px;
	font-weight:500;
}

.attack-type{
	width:27%;
}
.attack-event{
	width:48%;
}
.attack-event .attackMes-title-inner{
	padding-left:1vw;
}

table{
	table-layout: fixed;
}
 .ng-cloak{
	display: none;
}
.line-color{
	background:#1987ab;
	opacity: .14;
	color:#fff;
}
.attack-map,.attack-type-map{
	position:relative;
}
.attack-target-legend{
	position:absolute;
	top:0;
	right:0;
	
}
.attack-target-legend li{
	font-size:0.6vw;
	line-height: 1.5vw;
}
.attack-target-legend li i{
	display: inline-block;
	width:1.5vw;
}
.attack-target-legend li svg{
	height:1vw;
	width:auto;
	display:block;
	float:left;
}
.attack-target-legend svg path{
	transform: scale(0.2);
}
.country-name{
	color:#00bafe;
	font-style: italic;
}
.mycolor{
	background:rgba(63,94,154,0.27);
}
.mycolor2{
	color:#05b6f7;
}
.footer-bg{
	width:100%;
	height:100%;
	position:relative;
	overflow: hidden;
	background:rgba(4,14,35,0.45);
	box-shadow: 0px 0px 7px 5px rgba(28,129,233,0.3);
}
.process-outline{
	width:10vw;
	height:0.4vw;
	border-radius:0.5vw;
	background-color:#04093d;
	box-shadow: 0 0 3px 3px #1f4588;
	position:relative;
}
.process-line{
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background:-webkit-linear-gradient(left, #f56623,#fbe96f);
	background:-moz-linear-gradient(left, #f56623,#fbe96f);
	background:linear-gradient(left, #f56623,#fbe96f);
	border-radius:0.5vw;
	font-size:0.3vw;
}
.separated{
	width:1px;
	height:12vw;
	background:rgba(255,255,255,0.07);
	top:4vw;
	left:0.6vw;
}